<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <title>Home</title>
</head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="/index"><img src="/images/storysymbol.png" width="60" height="60" class="d-inline-block align-top" alt=""></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:right">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="mx-auto" style="width: 1000px;">
      <div class="row" style=" margin-bottom: 30px">
        <%for(let i=0; i<3; i++){%>
        <div class="col">
          <div class="card text-center">
            <div class="card-header">
              JUDUL
            </div>
            <div class="card-block">
              <h4 class="card-title">PENULIS</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Read Story</button>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
          <!-- Large modal -->
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content" align="center">
                <h4>JUDUL</h4>
                <p>
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                </p>
              </div>
            </div>
          </div>
        </div>
        <%}%>
      </div>

      <div class="row" style=" margin-bottom: 30px">
        <%for(let i=0; i<3; i++){%>
        <div class="col">
          <div class="card text-center">
            <div class="card-header">
              JUDUL
            </div>
            <div class="card-block">
              <h4 class="card-title">PENULIS</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Read Story</button>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>

          </div>
          <!-- Large modal -->
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content" align="center">
                <h4>JUDUL</h4>
                <p>
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                  asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf asdfsadfasdf;sldkf;ksjdfkjasdklfklsjdlfjsadkfjlksdfffffffffffffffffffffas
                  dfasdfjkahsdfjkhaskjdhfkjasdfkjsdfsdfasdf
                </p>
              </div>
            </div>
          </div>
        </div>
        <%}%>
      </div>

  </div>


</body>

</html>
